body{
margin : 0  ;
margin-top: 100px;
font-family:Arial, Helvetica, sans-serif;
background:#f6f7fb;
}
body::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}
/* Header */
.navibar{
    position: fixed;
    top : 0 ;
    margin : 0 ;
   background-color:rgb(244, 247, 250);
    width : 100% ;
    height: 80px ;
      display: flex;
  flex-direction: row;
  align-items: center;
 padding: 0 50px;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1 ;
}

.navibar .menu{
display : none  ;
}

.navibar .menu img{
  width: auto;
  height : 40px ;
  
}
.navibar .menu img:hover{
   cursor : pointer ;

}

.navibar .logo{
display : flex ;
}
.navibar .logo img{
  width: auto;
  height : 60px ;
  
}
.navibar .logo img:hover{
   cursor : pointer ;

}
.navibar .logo img:active{
   cursor : grabbing ;
} 

.navibar .navlinks{
  display: flex;
  gap: 20px;
   height: 100%;
  margin: auto;
}

.navibar .navlinks button{
    font-weight : bolder ;
    padding : 0px 20px ;
  font-size: 18px;
   height: 100%;
   background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: border-bottom 0.3s ease;

}.navibar .navlinks button:hover{
  border-bottom : 2px solid rgb(0, 153, 255);
  cursor : pointer ;
}
.navibar .navlinks button:active{
  
  cursor : grabbing ;
}



.navibar .signin{
  display: flex;
 
}

.navibar .signin button{
    font-weight: bolder ;
  background-color: rgb(0, 145, 255);
  border : 0px ;
}

.navibar .signin .SearchButton{
  
  padding: 15px 17px ;
 margin-right: 20px ;
  border-radius: 100px ;
}

.navibar .signin .SigninButton{
   font-size: 18px;
  padding: 15px 30px ;
  border-radius: 40px ;
   
}
.navibar .signin .ProfileButton{
 align-items: center;
  justify-content: center;
  border-radius: 50px ;
  padding : 0px 12px ;
  display : none ;
}

.navibar .signin .ProfileButton img{
  width: auto ;
  height : 30px ;
}

.navibar .signin button:hover{
 cursor : pointer ;
 background-color: rgb(0, 129, 228);
}

.navibar .signin button:active{
 cursor : grabbing ;
 background-color: rgb(0, 111, 197);
}

@media (max-width: 1200px) {

   .navibar{
         padding: 0 20px;
    }
  .navibar .navlinks {
    display : none ;
  }
 .navibar .menu{
  display : block ;
 }
}
@media (max-width: 700px) {
.navibar{
    height: 60px ;
}
.navibar .logo img{
  height : 50px ;
}
.navibar .menu img{
  width: auto;
  height : 30px ;
  
}
.navibar .signin .SearchButton{
  
  padding: 10px 12px ;
 margin-right: 20px ;
}

.navibar .signin .SigninButton{
  
  padding: 10px 20px ;
  font-size: 16px;
  border-radius: 40px ;
}
.navibar .signin .ProfileButton{
  padding : 0px 7px ;
}
}
/* Header */

/* Footer */
.footer{
  background-color: rgb(237, 237, 237);
    min-height: 300px;
  display: flex ;
  flex-direction: column;
    align-items: flex-start;
  padding : 10px 0px ;
  align-items: center;
  gap : 20px ;
}

.footer .Choosebox{
    font-size: clamp(14px, 1.2vw, 18px);
  font-weight: bold;
  padding: 20px clamp(50px, 4vw, 300px);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  width: 80% ;
  gap : clamp(40px, 4vw, 60px); ;
  align-content: start;
   min-height: 150px;
}
.footer .Choosebox .helpbox{
  padding : 20px ;
  background-color: rgb(241, 240, 240) ;
  border-radius: 20px;
    width: clamp(80px, 7vw, 100px);
  height: clamp(80px, 7vw, 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.footer .Choosebox .helpbox img{
  width: auto ;
  height: clamp(20px, 6vw, 40px);;
}
.footer .Choosebox .helpbox:hover{
 box-shadow: 0 4px 12px rgba(2, 86, 255, 0.233);
 cursor: pointer;
}
.footer .footerlinks{
  width: 100%;
  border-top:  0.4px solid rgb(179, 179, 179);
  border-bottom: 0.4px solid rgb(179, 179, 179);
}
.footer .footerlinks .footerlinks-inner{
  width: 82%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .footerlinks .footerlinks-inner .linkscolumn{
  padding :  clamp(5px, 7vw, 10px)  clamp(10px, 7vw, 30px);
  display: flex;
  flex-direction: column;
  border-right : 0.4px solid rgb(179, 179, 179) ;
  gap : clamp(5px, 7vw, 10px) ;
}
.footer .footerlinks .footerlinks-inner .linkscolumn:last-child{
  border-right : none ;
}
.footer .footerlinks .footerlinks-inner .linkscolumn p{
  margin: 0;
}
.footer .footerlinks .footerlinks-inner .linkscolumn h3{
margin : clamp(5px, 7vw, 10px) 0 ;

}
.footer .socialandcopyright{
  width : 80% ;
  margin-bottom : 10px ;
      display: flex;
  flex-direction: row;
 padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}
.footer .socialandcopyright .socialbar {
    display : flex ;
    flex-direction: row;
    gap : clamp(10px, 7vw, 20px) ;
}
.footer .socialandcopyright .socialbar img{
width : auto ;
height : 40px ;
cursor: pointer;
}
.footer .footerinfo {
  font-size: 18px;
  line-height: 1.5;
width : 80%

}
.footer .footerinfo .topline{
display: flex;
  align-items: center;
  gap: 20px;
justify-content: center;

}
.footer .footerinfo .topline img{
width: auto;
height : 60px ;

}



@media (max-width: 900px) {


.footer .socialandcopyright {
    flex-direction: column;
    gap : 5px ;
}
.footer .footerinfo {
  font-size: 16px;
  line-height: 1.5;
width : 80%

}
.footer .footerlinks{
   display : none ;
}


}
/* Footer */


/* Login Form */
.FullScreen{
  background-color: rgba(0, 0, 0, 0.3) ;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 2 ;
}
.FullScreen .loginOverlay {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FullScreen .loginOverlay .loginform {
  background-color: whitesmoke;
 width : 30%;
 height : 60%;
 align-items: center;
display: flex;
flex-direction: column;
position : relative ;
gap : 10px ;
}
.FullScreen .loginOverlay .loginform .closeBtn{
  top : 5px ;
  right : 5px ;
  position: absolute;
  background-color: transparent ;
  border : none ;
  font-size: 30px ;
  cursor : pointer ;
}

.FullScreen .loginOverlay .loginform  h1{
 margin-top : 50px ;
}
.FullScreen .loginOverlay .loginform .Mainform{
 margin-top : 10px ;
 display : flex ;
 flex-direction: column ;
  align-items: center ;
  gap : 40px ;
  width : 100% ;
}

.FullScreen .loginOverlay .loginform .Mainform input{
  width : 75% ;
 height : 40px ;
 padding : 0 10px ;
}

.FullScreen .loginOverlay .loginform .Mainform button{
 margin-top : 10px ;
 display : flex ;
 flex-direction: column ;
 justify-content: center;
  align-items: center ;
   height : 40px ;
  width : 40% ;
}


/* Login Form */

/* Contact  */
.ContactContainer{
  display : flex ;
  flex-direction: column ;
  align-items: center ;
  width :100% ;
}
.ContactContainer .ContactContent{
  background-color: white ;
  display : flex ;
  flex-direction: column ;
  align-items: center ;
  width :60% ;
  gap : 5px ;
  border-radius: 20px ;
  margin-bottom : 40px ;
  padding : 20px 30px ;
}
.ContactContainer  .ContactContent .ContactForm{
  display : flex ;
  flex-direction: column ;
  width : 90% ;
  gap : 5px ;
  padding : 10px 20px ;
}
.ContactContainer .ContactContent h3{
  white-space: normal;
word-wrap: break-word;
}
.ContactContainer  .ContactContent .ContactForm button{
  margin-top: 30px ;
  width : 100px  ;
  height : 50px ;
  background-color: rgb(0, 145, 255);
  border : none ;
  color : white ;
  font-size: 18px;
  border-radius: 40px ;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.ContactContainer  .ContactContent .ContactForm button:hover{
 background-color: rgb(0, 129, 228);
}

.ContactContainer  .ContactContent .ContactForm button:active{
 cursor : grabbing ;
 background-color: rgb(0, 111, 197);
}

.ContactContainer  .ContactContent .ContactForm input{
  height : 40px ;
  padding : 0 10px ;

}
.ContactContainer  .ContactContent .ContactForm textarea{
  height : 100px ;
  padding : 10px ;
}

@media (max-width: 900px) {
  .ContactContainer  .ContactContent .ContactForm button{
  margin-top: 25px ;
  width : 80px  ;
  height : 40px ;
  font-size: 16px;
}
 .ContactContainer h1{
  font-size: 24px ;
 }
.ContactContainer .ContactContent h3{
  font-size: 16px ;
  white-space: normal;
word-wrap: break-word;
}
}

/* Contact  */

/* Phone Service Page */

.PhoneServiceContainer{
  display : flex ;
  flex-direction: column ;
  align-items: center ;
  width :100% ;
}
.PhoneServiceContainer .PhoneServiceBanner{
  background-color: white;
  width : 90% ;
  height : 200px ;
  flex-direction: column;
  display : flex ;
box-sizing: border-box;
  padding : 10px 30px ;
  border-radius: 30px ;
}
/* Phone Service Page */

/* 5G Data Plan Page */

.p5GContainer{
  display : flex ;
  flex-direction: column ;
  align-items: center ;
  width :100% ;
}
.p5GContainer .ChoosePackage{
  width : 90% ;
  align-items: center;
  justify-content: center;
  flex-direction: row ;
  display : flex ;
}
.p5GContainer .ChoosePackage .MobilePackageType{
  font-size: 22px ;
  padding :10px 20px ;
  border-bottom: 2px solid rgb(176, 176, 176) ;
}
.p5GContainer .ChoosePackage .MobilePackageType:hover{
  border-bottom: 2px solid rgb(0, 104, 240) ;
  cursor: pointer;
}
.p5GContainer .ChoosePackage .MobilePackageType:active{
  cursor: grabbing;
}
.p5GContainer .ValueOptions{
  width : 90% ;
  display : flex ;
  flex-direction: row ;
  align-items: center ;
  justify-content: center ;
  margin-top : 20px ;
  gap : 10px ;
}

.p5GContainer .ValueOptions .Opted{
  display: flex;
  flex-direction: row;
  align-items: center;
   justify-content: center ;
   gap : 8px ;
  background-color : white ;
  font-size: 16px ;
  padding :10px 15px ;
  height : 15px ;
  border-radius: 12px;
  font-weight: bold;
  border : 1px transparent solid ;
  box-shadow : 0 1px 2px rgb(0, 0, 0 , 0.1) ;
}
.p5GContainer .ValueOptions .Opted:hover{

  border : 1px solid rgb(0, 136, 255 , 0.5) ;
  color : rgb(0, 119, 255) ;
  cursor : pointer ;
}
.p5GContainer .ValueOptions .Opted:active{

  border : 1px solid rgba(1, 89, 165, 0.799) ;
  color : rgb(0, 94, 201) ;
  cursor : grabbing ;
}
.p5GContainer .ValueOptions .Opted img{
  width : auto ;
  height : 18px ;
}
.p5GContainer .PackageContain{
  width : 100% ;
  padding : 20px 0px ;
   box-sizing: border-box;
   display : flex ;
    flex-direction: column ;
   align-items: center;

}
.p5GContainer .PackageContain .PackageandViewAll{
  width : 100% ;
 box-sizing: border-box;
 padding : 5px clamp(30px , 10vw , 150px) ;
 display: flex;
 flex-direction: row ;
 justify-content: space-between;
 align-items: center;
}
.p5GContainer .PackageContain .PackageandViewAll h3{
 

}
.p5GContainer .PackageContain .PackageandViewAll h3:hover{
 color : rgb(0, 119, 255) ;
 cursor: pointer;
}
.p5GContainer .PackageContain .PackageandViewAll h3:active{
 color : rgb(0, 94, 201) ;
 cursor: grabbing ;
}
.p5GContainer .PackageContain .PackageSet{
  display : grid ;
   grid-template-columns: repeat(3, 1fr); 
   gap : 50px  ;
 width : 88% ;
  padding : 20px 20px ;
   box-sizing: border-box;

}
.p5GContainer .PackageContain .PackageSet .Package{
 display : flex ;
 flex-direction: column ;
  background-color: rgb(255, 255, 255) ;
  min-width : 370px ;
  height : 300px ;
  border-radius: 30px ;
  margin : auto ;
  box-shadow : 0 2px 2px rgb(0, 0, 0 , 0.2) 
}
.p5GContainer .PackageContain .PackageSet .Package:hover{

  box-shadow : 0 3px 4px rgb(0, 0, 0 , 0.3) 
}
.p5GContainer .PackageContain .PackageSet .Package .PackageTitle{
  height : 23% ;
width : 100% ;
background-color : rgb(0, 98, 255);
border-radius : 30px 30px 0px 0px ;
align-items: center;
padding : 0px 30px ;
color : white ;
box-sizing: border-box;
display : flex ;
}
.p5GContainer .PackageContain .PackageSet .Package .PackageOffer{
  padding : 0 20px ;
box-shadow: 0px 2px 2px rgb(0, 0, 0 , 0.2);
 box-sizing: border-box;
 margin : auto ;
  height : 30% ;
font-size : 18px ;
  align-self: center;
width : 95% ;
padding : 10px 30px ;
display: flex ;
justify-content: center;
 word-break: break-word;
 flex-direction: column;
 gap : 5px ;
}
.p5GContainer .PackageContain .PackageSet .Package .PackageOffer p{
 margin : 0 ;
}
.p5GContainer .PackageContain .PackageSet .Package .PackagePrice{
  height : 10% ;
  width : 100% ;
  font-size: 24px;
  padding : 0 40px ;
box-sizing: border-box;
display : flex ;
align-items: center;
}
.p5GContainer .PackageContain .PackageSet .Package .PackageChoices{
height : 30%;
width : 100% ;
display : flex ;
flex-direction: row ;
padding : 15px 30px  ;
 box-sizing: border-box;
 justify-content: space-between;
 align-items: center;
}
.p5GContainer .PackageContain .PackageSet .Package .PackageChoices button{
 font-size: 18px;
 height : 100% ;
  border-radius: 30px ;
  width : 40% ;
  border : 1px solid black ;
  background-color : white ;
   cursor : pointer ;
}
.p5GContainer .PackageContain .PackageSet .Package .PackageChoices button:hover{
background-color: rgb(0, 94, 255);
}
.p5GContainer .PackageContain .PackageSet .Package .PackageChoices h3{
   font-size: 20px;
   cursor : pointer ;
}
.p5GContainer .PackageContain .PackageSet .Package .PackageChoices h3:hover{
   color : rgb(0, 94, 255) ;
}
.p5GContainer .PackageContain .PackageSet .Package .PackageChoices h3:active{
   color : rgb(0, 71, 194) ;
}
@media (max-width: 1300px) {
.p5GContainer .PackageContain .PackageSet{
   grid-template-columns: repeat(2, 1fr); 

}
}
@media (max-width: 900px){
.p5GContainer .PackageContain .PackageSet{
   grid-template-columns: repeat(1, 1fr); 

}
  .p5GContainer h1{
    font-size: 24px ;
  }
.p5GContainer .ChoosePackage .MobilePackageType{
  font-size : 14px ;
}
.p5GContainer .PackageContain .PackageandViewAll h2{
font-size: 18px ;
}
.p5GContainer .PackageContain .PackageandViewAll h3{
 font-size: 14px;
}
}
/* 5G Data Plan Page */